<html>
<head>
<title>success</title>
</head>
<body>
<body style="background-image: url(https://images.unsplash.com/photo-1532996122724-e3c354a0b15b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80
);background-size: cover;backdrop-filter: blur(8px)">

</body>
<div style="background-image: url('back.jpeg');">
<p style="font-size: 20px;">File uploaded successfully</p>
    <div class="col-md-5">
    <div class="image-container">
        <p class="text-center" style="font-size: 20px;"><b>Original Image</b></p>
        <img src="static/sample.jpeg" ></a>
    </div>
<!--<img src="static/sample.jpeg" >-->
<!--<img src="static/uploads/sample.jpeg" >-->

    <div class="col-md-5">
    <div class="image-container">
        <p class="text-center" style="font-size: 20px;"><b>Detected Image</b></p>
        <img src="static/uploads/sample.jpeg" ></a>
    </div>

</body>
</html>